video::-webkit-media-controls {
    display: none;
  }

h1 {
    z-index: 1000;
}  

body {
    margin: 0;
    font-family: 'aktiv-grotesk', sans-serif;
}

.parent-main-content {
    background-color: #70FF7A;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.right-container {
    margin-top: 0;
    padding-right: 48px;
}


header {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 48px;
}

ul {
    display: flex;
    align-self: center;
    list-style: none;
}



#video-monkey {
    position: relative;
    z-index: 5;
  }
  
#heroh1 {
    position: relative;
    z-index: 10;
  }


header {
    font-size: clamp(2px, 16px, 18px);
    color: #FF70A6;
}

button {
    font-family: inherit;
    color: inherit;
    background: transparent;
    border: 1px solid #FF70A6;
    padding: 10px 18px;
    border-radius: 100vh;
    
}

button:hover {
    background:#FF70A6;
    border: 1px solid #70FF7A;
    color: #70FF7A;
}

.main-nav {
    align-items: center;
    gap: 24px;
}

.hero-title h1 {
    font-family: 'Mongoose', sans-serif;
    font-size: clamp(80px, 10vw, 200px);
    line-height: 125px;
    color: #FF70A6;
    -webkit-text-stroke: 1px #70FF7A;
    text-shadow: 3px 3px 0px #70FF7A;

}

.hero-title {
    padding: 20% 10% 100px 20px;

}    

.question1 {
    display: flex; 
    justify-content: space-between;
   
}

.question1 p{
    font-size: 28px;
    font-weight: 700;
    color: #FF70A6;
}

.answer p{
    font-size: 16px;
    font-weight: 400;
    color: #FF70A6
}

svg {
    fill: red;
}

#faq {
    margin-top: 10rem;
}

.right-container {
   display: flex;
   align-items: end;
   padding-bottom: 140px;
}

.faq-question {
    border-bottom: 1px solid #FF70A6;
    border-top: 1px solid #FF70A6;
}

.answer {
    display: none;
}

.question1:hover {
    cursor: pointer;
}


#answer1 {
    display: none;
}

.faq-question {
    width: 100%;
}

#faq {
    width: 44vw;
  }

.border {
    border-bottom: solid 1px #FF70A6;
}